{
    "development": {
      "host": "adsmanagerdb.cmfo7nnvlxux.us-east-2.rds.amazonaws.com",
      "username": "tsng",
      "password": "trongson",
      "database": "adsmanager",
      "port": 3306,
      "dialect": "mysql",
      "maxConcurrentQueries": 100,
      "ssl": "Amazon RDS",
      "pool": { "maxConnections": 5, "maxIdleTime": 30}
    },
    "test": {
      "username": "tsng",
      "password": "trongson",
      "database": "adsmanager",
      "port": 3306,
      "dialect": "mysql"
    }
  }
  